* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    min-height: 100dvh;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: white;
}

body.no_scroll {
    overflow: hidden;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.131);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    display: none;
}

.menu_icon {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 100;
}

.side_bar {
    position: relative;
    position: fixed;
    width: 0;
    max-height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 120;
    overflow: hidden;
    box-shadow: 0 0 2px gray;
    border-radius: 0 0 10px 0;
    transition: width 0.1s linear;
}

.side_bar.show_sidebar {
    width: 80%;
    padding: 10px 10px 100px 10px;
    overflow: visible;
}

#close_menu {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.side_bar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    list-style-type: none;
    font-size: 1.2rem;
}

.side_bar ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.side_bar p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.side_bar svg {
    width: 20px;
    height: 20px;
    & path{
        fill: black;
    }
}

#prices_icon {
    & path {
        fill: none;
        stroke: black;
    }
}

#support_icon {
    width: 25px;
    height: 25px;
}

#faq_icon {
    width: 25px;
    height: 30px;
}


.line {
    width: 95%;
    height: .5px;
    background-color: gray;
    margin: 10px auto 0;
}

.howmuch {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 5px;
}

.howmuch p {
    font-weight: 500;
    font-family: cursive;
    color: black;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height:100px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.header {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}


form {
    width: 90%;
    height: 30px;
    background-color:  white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0 auto 1rem;
    border: 1px solid #83838399;
    border-radius: 15px;
}

input {
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

form i {
    font-size: 1.2rem;
    color: rgb(173, 169, 169);
}

main {
    flex-grow: 1;
    display: flex;
   
    min-height: 750px;
    padding-bottom: 100px;
    background-image: url(../images/icons_bg.jpg);
    background-size: contain;
    background-position: center;
}


.dashboard {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

.inventory {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "hd hd"
    "tp tp"
    "hs ls";
    gap: 10px;
    padding: 10px;
}

.statistics_headers {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    grid-area: hd;
    color: white;
    background-color: #32a56d;
    padding: 10px;
    border-radius: 10px;
}

.statistic {
    min-width: 180px;
    height: 120px;
    border: 1px solid gray;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.total_products {
    grid-area: tp;
    background-color: #1f7c51;
}

.highest {
    grid-area: hs;
    background-color:#32a56d;
}

.lowest {
    grid-area: ls;
    background-color:#32a56d;
}

.statistic p {
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 450;
}

#number {
    font-size: 2rem;
    font-family: monospace;
    font-weight: 700;
}

.bar {
    width: 90%;
    height: 10px;
    border-radius: 3px;
    margin-inline: auto;
    margin-top: 1rem;
    background-color: #13412e;
}

.engagement {
    width: 100%;
    height: fit-content;
      display: flex;
     flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.likes, .comments, .shares {
     background-color: #1f7c51;
}

.products_list {
    min-width: 100%;
    max-width: 100%;
    height: 70%;
    padding: 10px;
    padding-inline: 15px;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
    background-color: transparent;
}

.add_product_btn {
    border: none;
    outline: none;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 5rem auto 0;
    color: white;
}

.add_product_btn:active {
    transform: scale(0.8);
    -webkit-transform: scale(0.9);
}

.add_product_btn i {
    font-size: 1.1rem;
}

.add_product_btn p {
    font-size: 1.1rem;
    color: white;
    letter-spacing: 1px;
}

.product_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 3px gray;
    border-radius: 10px;
    background-color: white;
}

.product_name {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.product_units {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price {
    font-size: 20px;
    color: #565D6DFF;
}

nav {
    height : 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    border-top: 2px solid gray;
    background-color: white;
    padding: 10px;
}


nav ul {
    display: flex;
    width: 90%;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
}

svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.home_icon {
    & path {   
        stroke: green;
        stroke-width: 1.5px;
    }
}


.home_icon ~ p {
    color: green;
    font-weight: 500;
}

.people_icon {
  width: 25px;
  height: 25px;
}

.active {
    /* background-color: green;
    padding: 5px;
    border-radius: 50%; */
     width: 40px;
    height: 40px;
    & path {
        fill: black;
        /* stroke: black; */
    }
}